html {
    padding: 0;
    margin: 0;
    font-size: 16px;
}

body {    
    background: #B4202E;
    display: flex;    
}

header {
    padding: 0;
    margin: 0;
}

div {
    margin: 0;
    padding: 0;
}

h1 {
    padding: 10px 0;
    margin: 0;
    text-align: center;              
    color: #2B6BBD;  
    font-size: 48px;
}

h2 {
    font-size: 20px;
}

footer {
    padding: 10px;        
    background-color: #d3af37;    
    font-size: 10px;
    display: flex;
    justify-content: center;

}

figcaption {
    font-size: 10px;
    color: gray;
    max-width: 272px;
    display: flex;
    flex-direction:column;
    justify-content: center;
}

section {
    padding: 30px;
    line-height: 1.7em;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

li {
    font-weight: 600;
    color: rgba(0, 0, 0, 80%);
}

.container {
    padding: 0;    
    margin: 10px auto;
    background: whitesmoke;
    width: 800px;
}

#img-div {
    display: flex;  
    flex-direction:row;       
    justify-content: center;

}

